/* fonts=======*/
@font-face {
    font-family: "MuliRegular";
    src: url("./../../assets/fonts/Muli-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliBold";
    src: url("./../../assets/fonts/Muli-Bold.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliExtraBold";
    src: url("./../../assets/fonts/Muli-ExtraBold.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliBlack";
    src: url("./../../assets/fonts/Muli-Black.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliItalic";
    src: url("./../../assets/fonts/Muli-Italic.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliExstraBoldItalic";
    src: url("./../../assets/fonts/Muli-ExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
}


/* common styles=====*/
body{
    font-family: "MuliRegular";
    background-color: black;
}
ul {
    list-style: none;
    margin: 0;
}



/* header blog=================================*/
.header {
    height: 100vh;
    background: url("./../../assets/images/header/header-bg-img.png");
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}
.header__top {
    border: 1px solid red; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 100px 105px 100px;
}

/* menu=====*/
.menu__list {
    border: 1px solid red; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__item {
    margin-right: 35px;
}
.menu__item:last-child {
    margin: 0;
}
.menu__link {
    font-size: 16px;
    font-family: "MuliBold";
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

/* logo=====*/
.logo{
    border: 1px solid red; 
}

/* header_right-bloc=====*/
.header_right-bloc {
    border: 1px solid red;
    display: flex;
    align-items: center;
}

/* personal=====*/
.personal__list { 
    border: 1px solid red; 
    display: flex;
}
.personal__list-item {
    margin-right: 45px;
    position: relative;
}

.personal__cart-count::after {
    content:"";
    position: absolute;
    top: Z0px;
    left: 50px;
}

.personal__list-item:last-child {
    margin: 0;
}
.header__personal {
    margin-right: 136px;
    position: relative;
}



.personal__cart-count {
    background-color: #ffffff;
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    line-height: 2;
    border-radius: 50%;
    color: #000000; 
    text-decoration: none;
    position: absolute;
    top: -10px;
    right: -15px;
}

/* social=====*/
.social__list {
    border: 1px solid red; 
    display: flex;
}
.social__list-item{
    margin-left: 10px;
}
.social__list-item:first-child {
    margin: 0%;
}
.social__link {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    text-align: center;
}

/* header__content=====*/
.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

/* header__btn=====*/
.header__btn {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    border: none;
    font-size: 24px;
}
.btn {
    font-family: "MuliExtraBold";
    text-align: left;
    padding-left: 30px;
    color: #ffffff;
}
.btn--green-bg {
    background-color: #0aa566;
    position: relative;
}
.btn--green-bg::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 16px;
    background-image: url("./../../assets/images/header/header-btn-arrow-yellow.png");
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
}


/* Smoothies blog=================================*/
.smoothies {
    background-color: #ffffff;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 100px 0 110px 0;
}

/* smoothies__title=====*/
.smoothies__title {
    text-align: center;
    border: 1px solid red; 
}

.title {
    font-family: "MuliExtraBold";
    font-size: 50px;
    line-height: 0.8;
}

.title--orange {
    color: #f7ae3b;
}

/* smoothies__text=====*/
.smoothies__text {
    text-align: center;
    margin: 55px 0 60px 0;
    border: 1px solid red; 
    width: 915px;
}

.text{
    font-size: 18px;
    line-height: 1.94;
}

.text--black {
    color: #1e1e1e;
}

/* smoothies__features=====*/
.smoothies__features {
    display: grid;
    grid-template-rows: repeat(2, 195px);
    grid-template-columns: repeat(4, 250px);
    border: 1px solid red; 
    background-color: #f6edde;
    grid-gap: 2px;
}

.features__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.features__img {
    margin-bottom: 30px;
}

.features__item-title {
    font-family: "MuliExtraBold";
    font-size: 25px;
    color: #f2612d;
    line-height: 1.6;
    letter-spacing: -0.5px;
}


/* about blog=================================*/
.about {
    background-color: #14826f;
    border: 1px solid red;
}

.about__wrapper {
    padding-top: 55px;
    border: 1px solid red;
    display: flex;
    width: 1628px;
    margin-left: auto;
    margin-right: auto;
}

/* about__img====*/
.about__img {
    border: 1px solid red;
    margin-right: 142px;
}

/* about__box====*/
.about__box {
    border: 1px solid red;
    margin-top: 35px;
}

/* about__title====*/
.about__title {
    font-family: "MuliExtraBold";
    font-size: 55px;
    width: 615px;
    color: #ffffff;
    letter-spacing: -1.1px;
    line-height: 60px;
    border: 1px solid red;
}

.title--green {
    color: #cae941;
}

/* desc__list====*/
.desc__list {
    font-size: 21px;
    line-height: 1.05;
    border: 1px solid red;
    color: #ffffff;
    margin: 53px 0px 50px 22px;
}

.desc__item {
    list-style-image: url("./../../assets/images/about/about-marker1.png");
    padding: 0 0 23px 19px;
}

.desc__item:last-child{
    padding-bottom: 0;
}

.desc__item--font-black {
    font-family: "MuliBlack";
}

/* about__btn====*/
    .about__btn{
    width: 380px;
    height: 60px;
    border-radius: 30px;
    font-size: 21px;
    padding: 0 39px 0 29px;
}

.btn--border-orange {
    background-color: transparent;
    border: solid 2px #f8b231;
    position: relative;
}

.btn--border-orange::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 16px;
    background-image: url("./../../assets/images/about/about-btn-arrow-yellow.png");
    top: 50%;
    right: 39px;
    transform: translateY(-50%);
}


/* Products=================================*/
.products {
    display: flex;
}

.products__item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: "MuliBold";
    color: #ffffff;
    font-size: 24px;
    line-height: 22px;
}

.products__item-dark {
    background-color: #632b17;

}

.products__item-vegan {
    background-color: #178670;
    
}

.product-item-lemon {
    background-color: #f7ae3b;
}

.product-item-garlic {
    background-color: #c3471b;
}

.products__capacity {
    font-family: "MuliItalic";
    line-height: 32px;
    font-size: 21px;
}

.products__img {
    padding: 130px 0 34px 0;
}

/* products__btn====*/
.products__btn {
    width: 204px;
    height: 60px;
    border-radius: 30px;
    background-color: transparent;
    margin: 66px 0 79px 0;
}

.btn--border-white {
    border: solid 2px #ffffff;
    padding: 0 36px;
    position: relative;
}

.btn--border-white::after {
    content:"";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 16px;
    background-image: url("./../../assets/images/product/products-btn-arrow-white1.png");
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
}

/* Story=================================*/
.story {
    display: flex;
    justify-content: center;
    background-color:#ffffff;
    border: 1px solid red;
    padding: 120px 0 160px 0;
}

.story__about{
    border: 1px solid red;
    margin-right: 206px;
}

.story__title {
    border: 1px solid red;
    margin-top: 140px;
}

.story__text {
    width: 516px;
    border: 1px solid red;
    margin: 43px 0 60px 0;
}

/* story__btn====*/
.story__btn {
    width: 301px;
    height: 60px;
    padding: 0 40px 0 30px;
    border-radius: 30px;
    border: none;
    font-size: 21px;
    line-height: 1.05;
}

.story__img {
}


/* Testimonials=================================*/
.testimonials{
    border: 1px solid red;
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 80px 0;
}

.title--love {
    color: #f2612d;
}

.testimonials__feedback {
    display: flex;
    border: 1px solid red;
    align-items:center;
}

.testimonials__feedback-inner {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 60px 145px 0;
}

.testimonials__text {
    width: 455px;
    color: #ffffff;
    text-align: center;
}

.text--white{
    color: #ffffff;
    }

.text--yellow {
    color: #f7ae3b;
    font-family: "MuliItalic";
    line-height: 2.5;

}

/* testimonials__btn====*/
.testimonials-navigation {
    width: 160px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.testimonials__btn {
    border: none;
    background-color: transparent;
}

.testimonials__arrow {

}


/* Blog=================================*/
.blog {
    border: 1px solid red;
    display: flex;
    background-color:#ffffff;
    justify-content: center;
    padding: 100px 0 200px 0;
}

.blog__box-left{ 
    border: 1px solid red;
}

.blog__title {
}

.blog__img {
    margin: 49px 63px 0 0;
}

.blog__box-right{
    border: 1px solid red;
    margin-top: 230px;
}

.blog__article {   
}

.article__subtitle {
    color: #f2612d;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: -0.6px;
    font-family: "MuliExtraBold";
    margin-bottom: 19px;
}

.article__date {
}

.article__text {
    width: 472px;
    line-height: 1.94;
    margin: 45px 0 0 63px;
}

.article__date::first-line {
    line-height: 1;
}

.article__link {
    font-family: "MuliExstraBoldItalic";
    text-decoration: none;
    margin-right: 20px;
}
/* Instagram=================================*/
.instagram {
    border: 1px solid red;
    background-color: #ffffff;
}

.instagram_link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MuliExtraBold";
    color: #0aa566;
    text-decoration: none;
    line-height: 1.67;
    font-size: 24px;
    margin-bottom: 45px;
}

.instagram_logo {
    margin-right: 12px;
}

.instagram__picture-item {
    display: flex;
    flex-grow: 1;
    padding-bottom: 10px;
}


/* Footer=================================*/
.footer{
    background-color: #f6ab3b;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.footer__content{
    display: flex;
    justify-content: center;
    padding: 80px 0 93px 0;
    border: 1px solid red;
    
}

/* footer__logo====*/
.footer__logo {
    padding-top: 55px;
}

/* footer__information====*/
.footer__information {
    border: 1px solid red;
    margin: 0 173px 0 296px;
}

.footer__title {
    font-family: "MuliExtraBold";
    line-height: 1.54;
    letter-spacing: -0.52px;
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer__link {
    text-decoration: none;
    font-family: "MuliBold";
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: -0.36px;
    color: #6d450c;
}

.footer__list {
};

/* footer__payment====*/
.footer__payment-wrapper {
}

.footer__payment {
    border: 1px solid red;
    margin-right: 166px;
}

.footer__icons-list {
    display: flex;
    width: 247px;
    flex-wrap: wrap;
    align-items: center;
}

.footer__img-pay {
    padding: 0 20px 20px 0;
}
.footer__img-pay:nth-child(n+8) {
    padding-bottom: 0;
}

.footer__img-pay:nth-child(4) {
    padding-right: 0;
}

/* footer__subscribe ====*/
.footer__subscribe {
    border: 1px solid red;
}
    

.footer__subscribe-email{
    /* position: relative; */
}

.footer__input{
    width: 495px;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    border-style: none;
    
}

/* .footer__subscribe-email::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 19px;
    background-image: url("./../../assets/images/footer/footer-Icon-email.png");
    position: absolute;
} */

.footer__subscribe-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 27px 50px 0 0;
}

.footer__subscribe-text {}

.footer__social-link {
    margin-left: 25px;
}

.footer__social-link:first-child {
    margin-left: 43px;
}

.footer__social {
    border: 1px solid red;
}

.footer__subscribe-text {
    border: 1px solid red;
    position: relative;
}

.footer__subscribe-text::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 48px;
    height: 43px;
    background-image: url("./../../assets/images/footer/footer-arrow-img.png");
    top: -20px;
    left: -60px;
}


/* footer__bottom====*/
.footer__bottom {
    background-color: #6c2c1c;
    display: flex;
    justify-content: center;
    padding: 25px 0 21px 0;
    position: relative;
}

.footer__bottom-copy {
    color: #af8a82;
    line-height: 2.69;
    letter-spacing: 0.26px;
    font-size: 13px;
    text-align: center;

}

.footer__wrapper {
    position: absolute;
    top: 28px;
    right: 150px;
}

.footer__wrapper-text {
    color: #ffffff;
    font-size: 16px;
    font-family: "MuliBold";
    position: relative;

}



.footer__btn-top {
    background-color: #f2662f;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: -56px;
    left: 60px;
}

.footer__btn-top::after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 25px;
    background-image: url("./../../assets/images/footer/footer-btn-arrow-top.png");
}
