/* fonts=======*/
@font-face {
    font-family: "MuliRegular";
    src: url("./../../assets/fonts/Muli-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliBold";
    src: url("./../../assets/fonts/Muli-Bold.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliExtraBold";
    src: url("./../../assets/fonts/Muli-ExtraBold.ttf") format("truetype");
    font-style: normal;
}

/* common styles=====*/
body{
    font-family: "MuliRegular";
}
ul {
    list-style: none;
    margin: 0;
}



/* header blog=================================*/
.header {
    height: 100vh;
    background: url("./../../assets/images/header/header-bg-img.png");
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}
.header__top {
    border: 1px solid red; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 65px 100px 105px 100px;
}


/* menu=====*/
.menu__list {
    border: 1px solid red; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__item {
    margin-right: 35px;
}
.menu__item:last-child {
    margin: 0;
}
.menu__link {
    font-size: 16px;
    font-family: "MuliBold";
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}


/* logo=====*/
.logo{
    border: 1px solid red; 
}


/* header_right-bloc=====*/
.header_right-bloc {
    border: 1px solid red;
    display: flex;
    align-items: center;
}


/* personal=====*/
.personal__list { 
    border: 1px solid red; 
    display: flex;
}
.personal__list-item {
    margin-right: 45px;
}
.personal__list-item:last-child {
    margin: 0;
}
.header__personal {
    margin-right: 136px;
}
.personal__cart-count {
    background-color: #ffffff;
    width: 18px;
    height: 18px;
    font-family: "MuliRegular";
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    color: #000000; 
    text-decoration: none;
}


/* social=====*/
.social__list {
    border: 1px solid red; 
    display: flex;
}
.social__list-item{
    margin-left: 10px;
}
.social__list-item:first-child {
    margin: 0%;
}
.social__link {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    text-align: center;
}


/* header__content=====*/
.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}


/* btn=====*/
.header__btn {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    border: none;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.btn {
    font-family: "MuliExtraBold";
}
.btn--green-bg {
    background-color: #0aa566;
}


/* Smoothies blog=================================*/
.smoothies {
    background-color: #ffffff;
    background-size: cover;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 100px 0 110px 0;
}


/* smoothies__title=====*/
.smoothies__title {
    text-align: center;
    border: 1px solid red; 
    margin-bottom: 55px;
}

/* title=====*/
.title {
    font-family: "MuliExtraBold";
    font-size: 50px;
    line-height: 0.8;
}

/* title--orange=====*/
.title--orange {
    color: #f7ae3b;
}

/* smoothies__text=====*/
.smoothies__text {
    text-align: center;
    margin-bottom: 61px;
    border: 1px solid red; 
    width: 915px;
}

/* text=====*/
.text{
    font-size: 18px;
    line-height: 1.94;
}

/* text--black=====*/
.text--black {
    color: #1e1e1e;
}

/* smoothies__features=====*/
.smoothies__features {
    display: grid;
    grid-template-rows: repeat(2, 195px);
    grid-template-columns: repeat(4, 250px);
    border: 1px solid red; 
    background-color: #f6edde;
    grid-gap: 2px;
}

/* features__item=====*/
.features__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

/* features__img====*/
.features__img {
    margin-bottom: 30px;
}

/* features__item-title====*/
.features__item-title {
    font-family: "MuliExtraBold";
    font-size: 25px;
    color: #f2612d;
    line-height: 1.6;
    letter-spacing: -0.5px;
}