// main: ./main.less

@font-face {
    font-family: "MuliRegular";
    src: url("./../assets/fonts/Muli-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliBold";
    src: url("./../assets/fonts/Muli-Bold.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliExtraBold";
    src: url("./../assets/fonts/Muli-ExtraBold.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliBlack";
    src: url("./../assets/fonts/Muli-Black.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliItalic";
    src: url("./../assets/fonts/Muli-Italic.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "MuliExstraBoldItalic";
    src: url("./../assets/fonts/Muli-ExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
}