// main: ./../main.less

.header {
    height: 100vh;
    background: url("./../../assets/images/header/header-bg-img.png");
    background-position: center;
    background-size: cover;
    &__top {
        position: relative;
        padding: 65px 100px 123px 100px;
    }

    /* кнопка бургер меню для медиазапроса===*/
    &__burger-btn {
        /*уберем у кнопки стили по умолчанию*/
        background-color: transparent;
        border: none;
        width: 40px;
        display: none;
    }

    &__burger-btn-icon {
        width: 100%;
    }

    /* кнопка назад для медиазапроса===*/
    &__back-btn {
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        display: none;
    }

    &__back-btn-icon {
        width: 100%;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: absolute;
        top: 57px;
        left: 50%;
        transform: translate(-50%);
    }

    &__right-bloc {
        display: flex;
        align-items: center;
    }

    &__personal {
        margin-right: 136px;
        position: relative;
    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__btn {
        width: 280px;
        height: 70px;
        border: none;
        font-size: @baseFontSizeUnit * 2.4;
    }
}