// main: ./../main.less
.menu {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        margin-right: 35px;
        &:last-child {
            margin: 0;
        }
        &:hover {
            transform: scale(1.5);
        }
    }
    &__link {
        font-size: @baseFontSizeUnit * 1.6;
        font-family: @muliBold;
        text-decoration: none;
        text-transform: uppercase;
        color: @secondaryColorText;
    }
}


