// main: ./../main.less

.social {
    &__list {
        display: flex;
    }
    &__list-item{
        margin-left: 10px;
        &:first-child {
            margin: 0;
        }
    }
    &__link {
        background-color: #ffffff;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 50%;
        text-align: center;
    }
}
